<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Middlman2018Service.My.MySettings.ZuulConnectionString1"
            connectionString="Data Source=SVR-LICENSES;Initial Catalog=Zuul;Persist Security Info=True;User ID=Zuul;Password=Zuul21Ben;Connect Timeout=500"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>